.bottom-menu-link {
    display: none !important
}

.nav-menu .drop-down ul.dropdown-menu.resources_menu {
    right: auto;
    left: initial;
    padding-bottom: 10px
}

.nav-menu .drop-down .resources_menu li {
    min-width: 180px;
    position: relative;
    float: initial;
    display: list-item;
    padding: 10px 0
}

.slider-line {
    position: relative;
    top: 12px;
    line-height: 24px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px
}

.overlay, .why-us {
    position: absolute
}

#header .container, .services.departments .container, .why-us .container, section.safeaeon-banner.slider {
    padding: 0
}

.why-us .content p {
    margin-bottom: 0
}

.testimonial-content.quote:after, .testimonial-content.quote:before {
    font-family: FontAwesome;
    content: "\201C";
    position: absolute;
    font-size: 250px;
    opacity: 10%;
    font-style: normal;
    color: #19c2e6
}

.testimonial-content.quote:before {
    top: 10px;
    left: 20px
}

.testimonial-content.quote:after {
    content: "\201D";
    right: 20px;
    bottom: -135px
}

.why-us .icon-boxes .icon-box p {
    padding-left: 0
}

.why-us .icon-boxes .icon-box ul li p {
    display: flex
}

.why-us .icon-boxes .icon-box h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #d6d6d6
}

.services.departments .icon-box h3, .services.departments .icon-box h4 {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 23px
}

.services.departments .icon-box h3 {
    text-align: center;
    width: 100%;
    color: #00152e;
    font-weight: 600
}

.headerTopBar p {
    font-size: 14px !important;
    margin-bottom: 5px !important
}

.services.departments .icon-box:hover h4 {
    color: #f58220
}

.homepage_challenge .firewall-icon-box h4 {
    color: #f58220;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600
}

.homepage-video {
    padding-bottom: 0;
    padding-top: 60px
}

.Inner_ServiceSlider .slider_text p {
    color: #fff;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 30px
}

.overlay {
    background-size: 3px 3px;
    opacity: .8;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgb(0 21 46 / 70%);
    z-index: 2
}

.service_benefits_content, .why-us {
    margin: auto;
    z-index: 3;
    width: 100%;
    color: #fff;
    left: 0
}

.why-us {
    background: 0 0;
    bottom: 15px
}

.bg-video-wrap {
    height: auto;
    position: relative;
    overflow: hidden;
    width: 100%
}

.service_benefits_content {
    position: absolute;
    top: 3vw
}

.slider_text {
    margin-bottom: 6vw
}

.Slider_logo, .homepage_challenge .section-title p {
    width: 100%
}

.Slider_logo img {
    max-width: 80px;
    width: 100%;
    height: 80px
}

.slider_text h1, .slider_text span {
    /*font-size: 2.5vw;*/
    /*margin: 0*/
}

.banner_btn_callus, .banner_btn_contactus {
    padding: 7px 12px;
    border-radius: .5vw;
    font-weight: 500;
    color: #fff;
    font-size: 13px;
    transition: .4s ease-in-out
}

.why-us .content .more-btn {
    display: inline-block;
    background: #f58220;
    border-radius: .5vw;
    transition: .4s ease-in-out;
    padding: .5vw 1.5vw;
    font-weight: 500;
    color: #fff;
    font-size: 1.24px
}

.banner_btn_callus:hover, .banner_btn_contactus:hover {
    color: #19c2e6;
    background: #fff
}

.quality-icon {
    width: 45px;
    margin-bottom: 16px
}

.why-us .content {
    background: linear-gradient(122deg, #00d6ff 0, #0176ae 100%, #16a6eb 94%, #ffff 100%) !important
}

.why-us .icon-boxes .icon-box {
    background: linear-gradient(180deg, rgb(4 29 60) 0, #1a3c64 35%, rgb(51 96 149) 100%)
}

.nav-menu > ul > li:last-child {
    margin-right: 0
}

.appointment-btn {
    background: #f58220;
    top: -4px;
    padding: 10px !important;
    border-radius: .5vw !important;
    font-weight: 500;
    color: #fff !important;
    font-size: 14px !important;
    transition: .4s ease-in-out !important
}

.why-us .icon-boxes .icon-box i {
    color: #19c2e6;
    text-align: left;
    width: auto
}

.section-title h2 {
    font-size: 33px;
    color: #f58220 !important;
    font-weight: 600;
    letter-spacing: 1.3px
}

.section-title p {
    font-size: 16px !important;
    line-height: 23px;
    width: 100%
}

.homepage_stats .section-title p {
    color: #fff
}

.homepage_stats .section-title h2::after {
    background: #fff
}

.AppointmentSec .section-title p {
    color: #4f5772 !important
}

.AppointmentSec .section-title h2::after, .challenge_content_sec .container .card img.box-hover-img, .challenge_content_sec .container .card:hover img.box-img {
    display: none
}

.AppointmentSec .section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #011934;
    left: calc(50% - 20px);
    margin-top: 15px
}

.challenge_content .firewall-icon-box .icon img {
    width: 100%;
    max-width: 5vw
}

.customer-review-section {
    margin-top: 50px
}

.customer-review .section-title p::after, .homepage_stats .section-title p::after {
    background: #fff !important
}

.client_logo .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #011934;
    left: calc(50% - 20px);
    top: 54px
}

.homepage_services .title-icon-box .card p::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #011934;
    left: 0;
    margin-top: 15px
}

.homepage_services .title-icon-box .card a {
    margin-top: 30px
}

.homepage_stats .counter-num {
    position: relative;
    left: 7px
}

.challenge_content_sec .container .card img.box-img, .challenge_content_sec .container .card:hover img.box-hover-img {
    display: inline
}

#slidy-container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto
}

.footer-newsletter span {
    bottom: 0 !important
}

.common-box.loc-box .counter-num {
    left: 0 !important
}

@media only screen and (max-width: 640px) {
    .homepage_services .icon-box.card p {
        padding-right: 0
    }

    .banner_btn_callus, .banner_btn_contactus {
        font-size: 16px !important
    }

    .slider-line, .slider_text span {
        font-size: 14px !important;
        line-height: 26px
    }

    .slider_text h1, .slider_text span {
        font-size: 16px !important;
        line-height: 8px
    }

    .slider-line br {
        display: none
    }

    .why-us {
        margin-top: 25px !important
    }

    .bg-video-wrap video {
        top: 57px !important
    }

    .headerTopBar p {
        padding-right: 30px;
        font-size: 10px
    }
}

@media only screen and (max-width: 992px) {
    .Slider_logo img {
        width: 40px;
        height: 40px;
        left: 0 !important
    }

    .safeaeon-banner.slider .previous_btn {
        left: 50px
    }

    .safeaeon-banner.slider .next_btn {
        right: 50px
    }

    .SafeAeon_Homepage .section-title h2 {
        font-size: 24px !important;
        line-height: 34px !important;
        padding-bottom: 15px !important
    }

    .SafeAeon_Homepage .homepage_challenge .section-title p {
        text-align: justify
    }

    .SafeAeon_Homepage .section-title p {
        font-size: 16px !important;
        line-height: 24px;
        text-align: justify
    }

    .challenge_content .firewall-icon-box .icon img {
        max-width: 80px
    }

    .services.departments .icon-box p {
        font-size: 16px !important;
        padding: 0 15px
    }

    .safeaeon-banner.slider .slide {
        background-size: contain !important
    }

    .challenge_content-blank {
        display: none !important
    }

    .homepage_challenge .container {
        padding: 30px 15px !important;
    }

    .challenge_content {
        padding: 15px !important
    }

    .homepage_services .title-icon-box {
        padding-left: 15px;
    }

    .homepage_services .icon-box.card .serviceTitle {
        font-size: 24px;
        line-height: 34px
    }

    .homepage_services .icon-box.card p {
        padding-right: 0
    }

    .banner_btn_callus, .banner_btn_contactus, .slider_text h1, .slider_text span {
        font-size: 24px
    }

    .slider-line, .slider_text span {
        font-size: 18px;
        line-height: 30px
    }

    .safeaeon-banner.slider .slide_viewer {
        height: 150px
    }

    .departments {
        padding: 50px 15px 60px
    }

    .headerTopBar, .services.departments .icon-box {
        padding: 0
    }

    .customer-review, .homepage_stats {
        padding: 60px 15px
    }

    #header .container {
        padding: 0 15px
    }

    .customer-review {
        padding: 60px 0
    }
}

@media only screen and (max-width: 1200px) {
    .challenge_content-blank {
        display: none !important
    }

    .challenge_content {
        padding: 15px !important
    }

    .homepage_services .title-icon-box {
        padding-left: 15px !important
    }

    .homepage_services .icon-box.card .serviceTitle {
        font-size: 24px !important;
        line-height: 34px
    }

    .why-us {
        background: #00152e;
        position: relative;
        bottom: 0;
        margin-top: -10px;
        padding: 20px 30px
    }
}
